#imageFork {
    display: inline-block;
    width: 50px;
    margin-right: auto;
    margin-left: auto;
}

h3 {
    font-size: 45px;
    font-family: 'Damion', cursive;
    margin-top: 0;
    margin-bottom: 0;
}

.titletext {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 10px;
    font-family: Helvetica, sans-serif;
}

#pagetitle {
    display: inline-block;
    width: 650px;
    margin-right: auto;
    margin-left: auto;
}

#socialIcons{
    display: inline-block;
}

.socials {
    display: inline-block
}

#hrTop {
    border: 2px dashed grey;
}

h2 {
    font-display: block;
    font-family: Arial;
    font-weight: bold;
}

.date {
    font-size: 9px;
    font-family: Helvetica, sans-serif;
}



#notecard {

}

.ingredients {
    /* display: flex;
    justify-content: center; */
}
ul {
    list-style-type: '☐';
}
.strike {
    list-style-type: ':ballot_box_with_check:';
}
hr.footerline {
    border: none;
    border-top: 3px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
}
hr.footerline:after {
    background: #fff;
    content: 'placeholder' ;
    padding: 0 4px;
    position: relative;
    top: -13px;
}


Message Miguel Fierro
















